:root {
    --primary: #6968DF;
    --secondary: #525368;
    --light: #CED8E1;
    --dark: #000000
}

h1,
h2 {
    font-weight: 700!important
}

h4 {
    font-weight: 600!important
}

h5,
h6 {
    font-weight: 500!important
}

.btn {
    transition: .5s;
    font-weight: 500
}

.menuatas .menuatas-brand {
    height: 80px
}

.menuatas .menuatas-nav .tombol-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: 0
}

.menuatas .menuatas-nav .tombol-link.active,
.menuatas .menuatas-nav .tombol-link:hover {
    color: var(--primary)
}

.menuatas .menuatas-nav .tombol-linkbawah {
    margin-right: 0px;
    padding-left: 15px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: 0
}

.menuatas .menuatas-nav .tombol-linkbawah.active,
.menuatas .menuatas-nav .tombol-linkbawah:hover {
    color: var(--primary)
}

@media (max-width:991.98px) {
    .menuatas .menuatas-nav .tombol-link {
        margin-right: 0;
        padding: 10px 0
    }
    .menuatas .menuatas-nav .tombol-linkbawah {
        margin-right: 0;
        padding: 10px 0
    }
    .menuatas .menuatas-nav {
        border-top: 1px solid #eee
    }
}

.jumbotronbesar-judul {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    height: 100%;
    z-index: 1;
}

.gambar {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(https://picsum.photos/id/1043/800/600);
    background-size: cover;
}

.jumbotronbesar-indicators .active {
    opacity: 1
}

.jumbotronbesar-judul {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

@media (max-width:768px) {
    #header-jumbotronbesar .jumbotronbesar-item {
        position: relative;
        min-height: 450px
    }
    #header-jumbotronbesar .jumbotronbesar-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.footer {
    color: var(--light);
    background: #072a19
}

.footer a {
    color: #fff
}

.footer a:hover {
    color: var(--primary)
}

:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
     :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525368;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

h1,
h2,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: Jost, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #122c3d
}

h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {
    h1 {
        font-size: 2.5rem
    }
}

h2 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {
    h2 {
        font-size: 2rem
    }
}

h4 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
    h4 {
        font-size: 1.5rem
    }
}

h5 {
    font-size: 1.25rem
}

h6 {
    font-size: 1rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

b {
    font-weight: bolder
}

a {
    color: #348e38;
    text-decoration: none
}

a:hover {
    color: #2a722d
}

img {
    vertical-align: middle
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button {
    text-transform: none
}

[type=button],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::file-selector-button {
    font: inherit
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

.display-6 {
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 700;
    line-height: 1.2
}

@media (min-width:1200px) {
    .display-6 {
        font-size: 2.5rem
    }
}

.letak-foto {
    max-width: 100%;
    height: auto
}

.kontainer,
.kontainer-jarak,
.kontainer-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .kontainer {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .kontainer {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .kontainer {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .kontainer {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .kontainer,
    .kontainer-xxl {
        max-width: 1320px
    }
}

.baris {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2)
}

.baris>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y)
}

.kolom-2 {
    flex: 0 0 auto;
    width: 16.66667%
}

.kolom-3 {
    flex: 0 0 auto;
    width: 25%
}

.kolom-4 {
    flex: 0 0 auto;
    width: 33.33333%
}

.kolom-8 {
    flex: 0 0 auto;
    width: 66.66667%
}

.kolom-9 {
    flex: 0 0 auto;
    width: 75%
}

.kolom-10 {
    flex: 0 0 auto;
    width: 83.33333%
}

.g-4 {
    --bs-gutter-x: 1.5rem
}

.g-4 {
    --bs-gutter-y: 1.5rem
}

.g-5 {
    --bs-gutter-x: 3rem
}

.g-5 {
    --bs-gutter-y: 3rem
}

@media (min-width:768px) {
    .kolom-sedang-2 {
        flex: 0 0 auto;
        width: 16.66667%
    }
    .kolom-sedang-3 {
        flex: 0 0 auto;
        width: 25%
    }
    .kolom-sedang-4 {
        flex: 0 0 auto;
        width: 33.33333%
    }
    .kolom-sedang-5 {
        flex: 0 0 auto;
        width: 41.66667%
    }
    .kolom-sedang-6 {
        flex: 0 0 auto;
        width: 50%
    }
    .kolom-sedang-7 {
        flex: 0 0 auto;
        width: 58.33333%
    }
    .kolom-sedang-8 {
        flex: 0 0 auto;
        width: 66.66667%
    }
    .kolom-sedang-9 {
        flex: 0 0 auto;
        width: 75%
    }
    .kolom-sedang-10 {
        flex: 0 0 auto;
        width: 83.33333%
    }
    .kolom-sedang-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

@media (min-width:992px) {
    .kolom-besar-8 {
        flex: 0 0 auto;
        width: 66.66667%
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525368;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control[type=file]:not(:disabled):not(:read-only) {
    cursor: pointer
}

.form-control:focus {
    color: #525368;
    background-color: #fff;
    border-color: #9ac79c;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(52, 142, 56, .25)
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1
}

.form-control::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    margin-inline-end: .75rem;
    color: #525368;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not(:read-only)::file-selector-button {
    background-color: #dde0e3
}

.form-control::-webkit-file-upload-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    margin-inline-end: .75rem;
    color: #525368;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::-webkit-file-upload-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not(:read-only)::-webkit-file-upload-button {
    background-color: #dde0e3
}

.form-control-sm::file-selector-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    margin-inline-end: .5rem
}

.form-control-lg::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    margin-inline-end: 1rem
}

.form-control-color:not(:disabled):not(:read-only) {
    cursor: pointer
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #525368;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 4px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #525368
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(52, 142, 56, .25)
}

.btn:disabled {
    pointer-events: none;
    opacity: .65
}

.btn-abu {
    color: #000;
    background-color: #c7c7c7;
    border-color: #c7c7c7
}

.btn-abu:hover {
    color: #000;
    background-color: #ebf7ec;
    border-color: #eaf6eb
}

.btn-biru {
    color: #000;
    background-color: #428bca;
    border-color: #428bca
}

.btn-biru:hover {
    color: #000;
    background-color: rgb(46, 127, 209);
    border-color: rgb(46, 127, 209);
}

.btn-light {
    color: #000;
    background-color: #e8f5e9;
    border-color: #e8f5e9
}

.btn-light:hover {
    color: #000;
    background-color: #ebf7ec;
    border-color: #eaf6eb
}

.btn-putih {
    color: black;
    background-color: #ffffff;
    border-color: #ffffff
}

.btn-putih:hover {
    color: black;
    background-color: #c5c5c5;
    border-color: #c5c5c5
}

.btn-hitam {
    color: white;
    background-color: #323232;
    border-color: #323232
}

.btn-hitam:hover {
    color: white;
    background-color: #000000;
    border-color: #000000
}

.btn-light:focus {
    color: #000;
    background-color: #ebf7ec;
    border-color: #eaf6eb;
    box-shadow: 0 0 0 .25rem rgba(197, 208, 198, .5)
}

.btn-light:active {
    color: #000;
    background-color: #edf7ed;
    border-color: #eaf6eb
}

.btn-light:active:focus {
    box-shadow: 0 0 0 .25rem rgba(197, 208, 198, .5)
}

.btn-light:disabled {
    color: #000;
    background-color: #e8f5e9;
    border-color: #e8f5e9
}

.tombol-merah {
    color: #fff;
    background-color: #A8201A;
    border-color: #A8201A
}

.tombol-merah:hover {
    color: #fff;
    background-color: #D8221A;
    border-color: #D8221A
}

.tombol-hitam {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.tombol-hitam:hover {
    color: #fff;
    background-color: #161616;
    border-color: #161616
}

.tombol-hitam:focus {
    color: #fff;
    background-color: #0d3823;
    border-color: #0c3521;
    box-shadow: 0 0 0 .25rem rgba(51, 94, 73, .5)
}

.tombol-hitam:active {
    color: #fff;
    background-color: #0c3521;
    border-color: #0b321f
}

.tombol-hitam:active:focus {
    box-shadow: 0 0 0 .25rem rgba(51, 94, 73, .5)
}

.tombol-hitam:disabled {
    color: #fff;
    background-color: #122c3d;
    border-color: #122c3d
}

.btn-outline-light {
    color: #e8f5e9;
    border-color: #e8f5e9
}

.btn-outline-light:hover {
    color: #000;
    background-color: #e8f5e9;
    border-color: #e8f5e9
}

.btn-outline-light:focus {
    box-shadow: 0 0 0 .25rem rgba(232, 245, 233, .5)
}

.btn-outline-light:active {
    color: #000;
    background-color: #e8f5e9;
    border-color: #e8f5e9
}

.btn-outline-light:active:focus {
    box-shadow: 0 0 0 .25rem rgba(232, 245, 233, .5)
}

.btn-outline-light:disabled {
    color: #e8f5e9;
    background-color: transparent
}

.btn-outline-dark {
    color: #122c3d;
    border-color: #122c3d
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #122c3d;
    border-color: #122c3d
}

.btn-outline-dark:focus {
    box-shadow: 0 0 0 .25rem rgba(15, 66, 41, .5)
}

.btn-outline-dark:active {
    color: #fff;
    background-color: #122c3d;
    border-color: #122c3d
}

.btn-outline-dark:active:focus {
    box-shadow: 0 0 0 .25rem rgba(15, 66, 41, .5)
}

.btn-outline-dark:disabled {
    color: #122c3d;
    background-color: transparent
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 4px
}

.collapse:not(.show) {
    display: none
}

.pilihanmenu {
    position: relative
}

.pilihanmenu-toggle {
    white-space: nowrap
}

.pilihanmenu-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.pilihanmenu-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #525368;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px
}

.pilihanmenu-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.pilihanmenu-item:focus,
.pilihanmenu-item:hover {
    color: #1e2125;
    background-color: #e9ecef
}

.pilihanmenu-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #348e38
}

.pilihanmenu-item:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent
}

.tombol-link {
    display: block;
    padding: .5rem 1rem
}

.tombol-link:focus,
.tombol-link:hover {
    text-decoration: none
}

.tombol-linkbawah {
    display: block;
    padding: .5rem 1rem
}

.tombol-linkbawah:focus,
.tombol-linkbawah:hover {
    text-decoration: none
}

.menuatas {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
}

.menuatas-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.menuatas-brand:focus,
.menuatas-brand:hover {
    text-decoration: none
}

.menuatas-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.menuatas-nav .tombol-link {
    padding-right: 0;
    padding-left: 0
}

.menuatas-nav .tombol-linkbawah {
    padding-right: 0;
    padding-left: 0
}

.menuatas-nav .pilihanmenu-menu {
    position: static;
    float: none
}

.menuatas-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center
}

.menuatas-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem
}

.menuatas-toggler:focus,
.menuatas-toggler:hover {
    text-decoration: none
}

.menuatas-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat
}

@media (min-width:992px) {
    .menuatas-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .menuatas-expand-lg .menuatas-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }
    .menuatas-expand-lg .menuatas-nav .pilihanmenu-menu {
        position: absolute
    }
    .menuatas-expand-lg .menuatas-nav .tombol-link {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .menuatas-expand-lg .menuatas-nav .tombol-linkbawah {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .menuatas-expand-lg .menuatas-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .menuatas-expand-lg .menuatas-toggler {
        display: none
    }
}

.menuatas-light .menuatas-brand {
    color: rgba(0, 0, 0, .9)
}

.menuatas-light .menuatas-brand:focus,
.menuatas-light .menuatas-brand:hover {
    color: rgba(0, 0, 0, .9)
}

.menuatas-light .menuatas-nav .tombol-link {
    color: rgba(0, 0, 0, .5)
}

.menuatas-light .menuatas-nav .tombol-link:focus,
.menuatas-light .menuatas-nav .tombol-link:hover {
    color: rgba(0, 0, 0, .7)
}

.menuatas-light .menuatas-nav .active>.tombol-link,
.menuatas-light .menuatas-nav .tombol-link.active {
    color: rgba(0, 0, 0, .9)
}

.menuatas-light .menuatas-nav .tombol-linkbawah {
    color: rgba(0, 0, 0, .5)
}

.menuatas-light .menuatas-nav .tombol-linkbawah:focus,
.menuatas-light .menuatas-nav .tombol-linkbawah:hover {
    color: rgba(0, 0, 0, .7)
}

.menuatas-light .menuatas-nav .active>.tombol-linkbawah,
.menuatas-light .menuatas-nav .tombol-linkbawah.active {
    color: rgba(0, 0, 0, .9)
}

.menuatas-light .menuatas-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1)
}

.menuatas-light .menuatas-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.kartu {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px
}

.kartu-body {
    flex: 1 1 auto;
    padding: 1rem 1rem
}

.jumbotronbesar {
    position: relative
}

.jumbotronbesar-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.jumbotronbesar-inner::after {
    display: block;
    clear: both;
    content: ""
}

.jumbotronbesar-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .jumbotronbesar-item {
        transition: none
    }
}

.jumbotronbesar-item.active {
    display: block
}

.lurus {
    display: flex!important
}

.posisifleksibel {
    position: relative!important
}

.border-light {
    border-color: #e8f5e9!important
}

.w-100 {
    width: 100%!important
}

.kolom-rata-tengah {
    justify-content: center!important
}

.jarak-items-akhir {
    align-items: flex-end!important
}

.align-items-center {
    align-items: center!important
}

.m-0 {
    margin: 0!important
}

.vertikal-otomatis {
    margin-right: auto!important;
    margin-left: auto!important
}

.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important
}

.horizontal-otomatis {
    margin-top: auto!important;
    margin-bottom: auto!important
}

.mt-3 {
    margin-top: 1rem!important
}

.me-2 {
    margin-right: .5rem!important
}

.me-4 {
    margin-right: 1.5rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.mb-5 {
    margin-bottom: 3rem!important
}

.ms-auto {
    margin-left: auto!important
}

.p-0 {
    padding: 0!important
}

.p-4 {
    padding: 1.5rem!important
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}

.pt-2 {
    padding-top: .5rem!important
}

.pe-5 {
    padding-right: 3rem!important
}

.ps-4 {
    padding-left: 1.5rem!important
}

.teks-tengah {
    text-align: center!important
}

.text-putihabu {
    color: #e8f5e9!important
}

.text-hitam {
    color: #122c3d!important
}

.text-putih {
    color: #fff!important
}

.bg-light {
    background-color: #e8f5e9!important
}

.bg-dark {
    background-color: #000!important
}

.sudut {
    border-radius: 4px!important
}

@media (min-width:576px) {
    .px-sm-4 {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important
    }
    .py-sm-2 {
        padding-top: .5rem!important;
        padding-bottom: .5rem!important
    }
}

@media (min-width:992px) {
    .p-lg-0 {
        padding: 0!important
    }
    .px-lg-5 {
        padding-right: 3rem!important;
        padding-left: 3rem!important
    }
}

.jumbotronbesar {
    position: relative
}

.jumbotronbesar-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.jumbotronbesar-inner::after {
    display: block;
    clear: both;
    content: ""
}

.jumbotronbesar-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .jumbotronbesar-item {
        transition: none
    }
}

.jumbotronbesar-item.active {
    display: block
}

.kanan {
    float: right!important
}

.pilihanmenu,
.pilihanmenu-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
    position: relative
}

.pilihanmenu-toggle {
    white-space: nowrap
}

.pilihanmenu-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.pilihanmenu-toggle:empty::after {
    margin-left: 0
}

.pilihanmenu-menu {
    --bs-pilihanmenu-zindex: 1000;
    --bs-pilihanmenu-min-width: 10rem;
    --bs-pilihanmenu-padding-x: 0;
    --bs-pilihanmenu-padding-y: 0.5rem;
    --bs-pilihanmenu-spacer: 0.125rem;
    --bs-pilihanmenu-font-size: 1rem;
    --bs-pilihanmenu-color: var(--bs-body-color);
    --bs-pilihanmenu-bg: var(--bs-body-bg);
    --bs-pilihanmenu-border-color: var(--bs-border-color-translucent);
    --bs-pilihanmenu-border-radius: var(--bs-border-radius);
    --bs-pilihanmenu-border-width: var(--bs-border-width);
    --bs-pilihanmenu-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-pilihanmenu-divider-bg: var(--bs-border-color-translucent);
    --bs-pilihanmenu-divider-margin-y: 0.5rem;
    --bs-pilihanmenu-box-shadow: var(--bs-box-shadow);
    --bs-pilihanmenu-link-color: var(--bs-body-color);
    --bs-pilihanmenu-link-hover-color: var(--bs-body-color);
    --bs-pilihanmenu-link-hover-bg: var(--bs-tertiary-bg);
    --bs-pilihanmenu-link-active-color: #fff;
    --bs-pilihanmenu-link-active-bg: #0d6efd;
    --bs-pilihanmenu-link-disabled-color: var(--bs-tertiary-color);
    --bs-pilihanmenu-item-padding-x: 1rem;
    --bs-pilihanmenu-item-padding-y: 0.25rem;
    --bs-pilihanmenu-header-color: #6c757d;
    --bs-pilihanmenu-header-padding-x: 1rem;
    --bs-pilihanmenu-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-pilihanmenu-zindex);
    display: none;
    min-width: var(--bs-pilihanmenu-min-width);
    padding: var(--bs-pilihanmenu-padding-y) var(--bs-pilihanmenu-padding-x);
    margin: 0;
    font-size: var(--bs-pilihanmenu-font-size);
    color: var(--bs-pilihanmenu-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-pilihanmenu-bg);
    background-clip: padding-box;
    border: var(--bs-pilihanmenu-border-width) solid var(--bs-pilihanmenu-border-color);
    border-radius: var(--bs-pilihanmenu-border-radius)
}

.pilihanmenu-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: var(--bs-pilihanmenu-spacer)
}

.pilihanmenu-menu-start {
    --bs-position: start
}

.pilihanmenu-menu-start[data-bs-popper] {
    right: auto;
    left: 0
}

.pilihanmenu-menu-end {
    --bs-position: end
}

.pilihanmenu-menu-end[data-bs-popper] {
    right: 0;
    left: auto
}

@media (min-width:576px) {
    .pilihanmenu-menu-sm-start {
        --bs-position: start
    }
    .pilihanmenu-menu-sm-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .pilihanmenu-menu-sm-end {
        --bs-position: end
    }
    .pilihanmenu-menu-sm-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media (min-width:768px) {
    .pilihanmenu-menu-md-start {
        --bs-position: start
    }
    .pilihanmenu-menu-md-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .pilihanmenu-menu-md-end {
        --bs-position: end
    }
    .pilihanmenu-menu-md-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media (min-width:992px) {
    .pilihanmenu-menu-lg-start {
        --bs-position: start
    }
    .pilihanmenu-menu-lg-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .pilihanmenu-menu-lg-end {
        --bs-position: end
    }
    .pilihanmenu-menu-lg-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media (min-width:1200px) {
    .pilihanmenu-menu-xl-start {
        --bs-position: start
    }
    .pilihanmenu-menu-xl-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .pilihanmenu-menu-xl-end {
        --bs-position: end
    }
    .pilihanmenu-menu-xl-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

@media (min-width:1400px) {
    .pilihanmenu-menu-xxl-start {
        --bs-position: start
    }
    .pilihanmenu-menu-xxl-start[data-bs-popper] {
        right: auto;
        left: 0
    }
    .pilihanmenu-menu-xxl-end {
        --bs-position: end
    }
    .pilihanmenu-menu-xxl-end[data-bs-popper] {
        right: 0;
        left: auto
    }
}

.dropup .pilihanmenu-menu[data-bs-popper] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: var(--bs-pilihanmenu-spacer)
}

.dropup .pilihanmenu-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: .3em solid transparent;
    border-bottom: .3em solid;
    border-left: .3em solid transparent
}

.dropup .pilihanmenu-toggle:empty::after {
    margin-left: 0
}

.dropend .pilihanmenu-menu[data-bs-popper] {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: var(--bs-pilihanmenu-spacer)
}

.dropend .pilihanmenu-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid
}

.dropend .pilihanmenu-toggle:empty::after {
    margin-left: 0
}

.dropend .pilihanmenu-toggle::after {
    vertical-align: 0
}

.dropstart .pilihanmenu-menu[data-bs-popper] {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: var(--bs-pilihanmenu-spacer)
}

.dropstart .pilihanmenu-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: ""
}

.dropstart .pilihanmenu-toggle::after {
    display: none
}

.dropstart .pilihanmenu-toggle::before {
    display: inline-block;
    margin-right: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid;
    border-bottom: .3em solid transparent
}

.dropstart .pilihanmenu-toggle:empty::after {
    margin-left: 0
}

.dropstart .pilihanmenu-toggle::before {
    vertical-align: 0
}

.pilihanmenu-divider {
    height: 0;
    margin: var(--bs-pilihanmenu-divider-margin-y) 0;
    overflow: hidden;
    border-top: 1px solid var(--bs-pilihanmenu-divider-bg);
    opacity: 1
}

.pilihanmenu-item {
    display: block;
    width: 100%;
    padding: var(--bs-pilihanmenu-item-padding-y) var(--bs-pilihanmenu-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-pilihanmenu-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-pilihanmenu-item-border-radius, 0)
}

.pilihanmenu-item:focus,
.pilihanmenu-item:hover {
    color: var(--bs-pilihanmenu-link-hover-color);
    background-color: var(--bs-pilihanmenu-link-hover-bg)
}

.pilihanmenu-item.active,
.pilihanmenu-item:active {
    color: var(--bs-pilihanmenu-link-active-color);
    text-decoration: none;
    background-color: var(--bs-pilihanmenu-link-active-bg)
}

.pilihanmenu-item.disabled,
.pilihanmenu-item:disabled {
    color: var(--bs-pilihanmenu-link-disabled-color);
    pointer-events: none;
    background-color: transparent
}

.pilihanmenu-menu.show {
    display: block
}

.pilihanmenu-header {
    display: block;
    padding: var(--bs-pilihanmenu-header-padding-y) var(--bs-pilihanmenu-header-padding-x);
    margin-bottom: 0;
    font-size: .875rem;
    color: var(--bs-pilihanmenu-header-color);
    white-space: nowrap
}

.pilihanmenu-item-text {
    display: block;
    padding: var(--bs-pilihanmenu-item-padding-y) var(--bs-pilihanmenu-item-padding-x);
    color: var(--bs-pilihanmenu-link-color)
}

.pilihanmenu-menu-dark {
    --bs-pilihanmenu-color: #dee2e6;
    --bs-pilihanmenu-bg: #343a40;
    --bs-pilihanmenu-border-color: var(--bs-border-color-translucent);
    --bs-pilihanmenu-box-shadow: ;
    --bs-pilihanmenu-link-color: #dee2e6;
    --bs-pilihanmenu-link-hover-color: #fff;
    --bs-pilihanmenu-divider-bg: var(--bs-border-color-translucent);
    --bs-pilihanmenu-link-hover-bg: rgba(255, 255, 255, 0.15);
    --bs-pilihanmenu-link-active-color: #fff;
    --bs-pilihanmenu-link-active-bg: #0d6efd;
    --bs-pilihanmenu-link-disabled-color: #adb5bd;
    --bs-pilihanmenu-header-color: #adb5bd
}

.m-1 {
    margin: 5px;
}

.btn-kecil {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: 4px
}

.btn-besar {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.kolom,
.no-gutters>[class*="kolom-"] {
    padding-right: 0;
    padding-left: 0;
}

.inputbawah {
    background: 0 0;
    color: #fafafa;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fdfdfd
}

.inputbawah:focus {
    outline: 0
}

.inputbawah::placeholder {
    color: white
}

.inputbawah:focus~label {
    top: -14px;
    font-size: 12px;
    color: #ff3b3f
}

.inputbawah:focus~.bar:before {
    width: 100%
}

.inputbawah[type=password] {
    letter-spacing: .3em
}